.CPU {
    position: relative;
    display: inline-block;
    text-align: center;
}

.txt {
    font-family: Consolas, serif;
    text-align: center;
}

.def {
    position: absolute;
    top: 0;
    left: 0;
    width: 656px;
    height: 166px;
}


.sbutton{
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 3px #999;

    background-color: green;
    border: 0;
    position: relative;
    width: 128px;
    height: 25px;
    top: 98px;
    left: 321px;
}

.pbutton{
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: 0 3px #999;

    border: 0;
    background-color: red;
    position: relative;
    width: 128px;
    height: 21px;
    top: 126px;
    left: 189px;
}

.pbutton:hover {background-color: darkred}

.pbutton:active {
    background-color: darkred;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.sbutton:hover {background-color: darkgreen}

.sbutton:active {
    background-color: darkgreen;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.progress {
    z-index: 0;
    visibility: visible;
    position: relative;
    top: 57px;
    left: 255px;
}

.status {
    position: absolute;
    top: 0;
    left: 0;
    width: 656px;
    height: 166px;
}

.log {
    overflow-y: scroll;
    text-align: left;
    margin: 5px;
    display: block;
    border: 1px solid black;
    position: absolute;
    top: 300px;
    left: 0;
    width: 656px;
    height: 166px;
}
